{% extends 'base.html' %}

{% block content %}
    <h2>Signup Form</h2>
    <form id="signup-form" method="POST" action="/user/signup/">

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="Username" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" placeholder="Email" ><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="Password" ><br>

        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"><br>
        
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" placeholder="First Name"><br>

        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" placeholder="Last Name"><br>

        <label for="birth_date">Birth Date:</label><br>
        <input type="date" id="birth_date" name="birth_date"><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" placeholder="Describe yourself"></textarea><br>
        <button type="submit">Signup</button>
    </form>
    <script src="/static/js/signup.js"></script>
{% endblock %}

